
html, body {
  margin: 0;
  padding: 0;
  background: linear-gradient(115deg, #40b3c7, #ffd6ed);
}
.login-form-outercontainer{
  padding:2rem;
  background-color: rgb(230, 232, 233);
  margin:auto;
  margin-top:10rem;
  margin-bottom:12rem;
}
  .login-form-container {
    display:flex;
  background-color: aquamarine;
  }
  
  .login {
    padding: 1rem;
    background-color: #1f1f38;
    text-align: center; 
  }
  
  .loginform {
    padding: 1rem;
  }
  
  .loginform h2 {
    text-align: center;
    color: white;
  }
  
  .form-group {
    margin-bottom: 15px;
    text-align: left;
  }
  
  label {
    display: flex;
    flex-direction: column;
    color: white;
    margin-bottom: 5px;
  }
  
  input[type='text'],input[type='email'],
  input[type='password'] {
    width:320px;
  padding:0.7rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  }
  
  .loginform button {
    align-items: center;
    background-color: #1f1f38;
    color: white;
    border: solid white 1px;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
  }
  
  .loginform button:hover {
    background-color: #fcfcfc;
    color: #1f1f38;
  }
  
  .Signup {
    padding: 5.5rem;
    text-align: center;
    margin: 0.5rem; 
  }
  
  p {
    cursor: pointer;
    color: #1f1f38;
  }
  
  @media screen and (max-width: 950px) {
    .login-form-outercontainer{
      padding:0;
      margin-top:8rem;
      margin-bottom:12rem;
    }
    .login-form-container {
      display: flex;
      flex-direction: column;
      background-color: aquamarine;
      align-items: center;
      justify-content: center;
    }
    input[type='text'],input[type='email'],
    input[type='password'] {
      width:250px;
    padding:0.7rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    }
    .Signup {
      padding: 1.2rem 3.5rem;
      text-align: center;
      margin: 0.5rem; 
    }
  
  }
  
