.navb{
  display:flex;
  background-color:#1f1f38;
  width:100%;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  position:fixed;
  z-index: 2;
  top:0;
  padding:0.3rem 0;
}

.navb1{
  display:flex;
  align-items: center;
  justify-content: center;
  gap:1rem;
  padding:0 2rem;

}
.navb1 div{
  color:white;
  font-size:2.1rem;
}
.navb1 p{
  margin:0;
  font-size:2.375rem;
  color:white;
}
.navb1 p:hover{
  color:aquamarine;
}
.navb2{
  display:flex;
  align-items: center;
  gap:1.9rem;
  background-color: rgb(251, 249, 249);
  padding:1rem 1.9rem;
  border-radius:3rem;
}

a {
  text-decoration: none!important;
  color: inherit!important; 
}

.navb2 a:hover{
  color:#1f1f38;
  border-bottom:solid 2px #1f1f38;
  cursor: pointer;
}

.navb2 a.active{
  font-weight:bold !important;
}
.navb3{
  display:flex;
  gap:1.9rem;
  padding:0.6rem 0.9rem;
  
}
.navb3 div{
  border:solid 2px white;
  padding:0.9rem 1.5rem;
  border-radius: 3rem;
  color:white;
}
.navb3 div:hover{
  background-color: white;
  color:#1f1f38;
  cursor: pointer;
}
.navb4{
  display:none;
}

@media screen and (max-width:950px) {
  .navb1 div{
    color:white;
    font-size:1.7rem;
  }
  .navb1 p{
    margin:0;
    font-size:1.7rem;
    color:white;
  }
  .navb2{
    display:none;
  }

  .navb4{
    display:flex;
    align-items: center;
    gap:1.9rem;
    background-color: rgb(251, 249, 249);
    padding:1rem 1.9rem;
    border-radius:3rem;
    color:#1f1f38;

  }
  .navb3{
    display:flex;
    gap:0.5rem;
    padding:0.3rem 0.6rem;
    
  }
  .navb3 div{
    border:solid 2px white;
    padding:0.5rem 1rem;
    border-radius: 3rem;
    color:white;
  }
  .navb3 div:hover{
    background-color: white;
    color:#1f1f38;
    cursor: pointer;
  }
}

