.home{
  margin-top:7rem;
}
.home1{
  display:flex;
  gap:4rem;
  align-items: center;
  
}
.headingdiv {
  line-height: 5.5rem;
  padding:2rem;
}
.heading {
  font-size:50px;
  color:#1f1f38;
  font-family: var( --font-primary);
  line-height: 5.5rem;
 
}
.btn{
  border:solid 2px white;
  padding:1.8rem 1.5rem;
  border-radius: 3rem;
  color:white;
  font-size:2.1rem;
  line-height: 2rem;
}
.btn:hover{
  background-color: #1f1f38;
  color:white;
}

.imgdiv{
  border-radius: 2rem;
  overflow: hidden;
  transform: rotate(-7deg); 
  transition: All 400ms ease;
  width:550px;
  background-color: aquamarine;
  display: flex;
  align-items: center;
  justify-content: center;
}

.imgdiv:hover {
transform: rotate(0);
}


.Arrival{
  margin-top:5.4rem;
  padding:2rem;
  padding-top:0.5rem;
  background-color: aliceblue;
}
.Arrival h3{
  font-size:30px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color:#1f1f38;
  text-align: center;
  text-decoration: underline;
}
.latestimg{
  display:flex;
  align-items: center;
  justify-content:center;
  gap:1rem;
  overflow-x: scroll;
  display: flex;
  overflow-x: scroll; 
  scroll-behavior: smooth; 
  width: 100%; 
}
.latestimg img{
  border: solid 2px rgb(211, 10, 121);
  width:250px;
  height:310px;
  flex: 0 0 auto; 
  margin-right: 10px; 
}

.About{
  margin-top:5rem;
}
.About h3{
  font-size:27px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color:#1f1f38;
  text-align: center;
  text-decoration: underline;
}
.About div{
  padding:2rem;
  font-size:20px;
  color:#39393a;
  padding-top:0.5rem;
  text-align: center;
  letter-spacing: 0.35px;
  line-height: 35px;
  font-weight: 400;
}
.ico{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  gap:1rem;
  color:aquamarine;
}
@media screen and (min-width:950px) and (max-width:1400px){
  .home1{
    display:flex;
    align-items: center;
  }
  .heading{
    font-size:43px;
    color:#1f1f38;
    font-family: var( --font-primary);
    line-height: 5rem;
    padding:2rem;
  }
  .imgdiv{
    border-radius: 2rem;
    overflow: hidden;
    transform: rotate(-7deg); 
    transition: All 400ms ease;
    width:550px;
    background-color:aquamarine;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right:2rem;
  }

  .latestimg{
    display:flex;
    align-items: center;
    justify-content:center;
    gap:1rem;
    overflow-x: scroll;
    display: flex;
    overflow-x: scroll; 
    scroll-behavior: smooth; 
    width: 100%; 
  }
  .latestimg img{
    border: solid 2px rgb(211, 10, 121);
    width:250px;
    height:300px;
    flex: 0 0 auto; 
    margin-right: 10px; 
  }
}
@media screen and (max-width:950px) {
 
  .home{
    margin-top:4.5rem;
  }
  .home1{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .heading{
    font-size: 40px;
    line-height: 4.5rem;
    padding:0.5rem;
  }
  .btn{
    padding:1rem 0.5rem;
    border-radius:3rem;
    color:white;
    font-size:1.7rem;
    line-height: 1.8rem;
    border-color:#f6f9f9;
  }
  .imgdiv{
    border-radius: 2rem;
    overflow: hidden;
    transform: rotate(-7deg); 
    transition: All 400ms ease;
    width:320px;
    background-color: aquamarine;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .imgdiv:hover {
  transform: rotate(0);
  background-color: #39393a;
  }

  .latestimg img{
    flex: 0 0 auto; 
  margin-right: 10px; 
    width:200px;
    height:260px;
  }

  .latestimg{
    display:flex;
    align-items: center;
    justify-content:center;
    gap:1rem;
    overflow-x: scroll;
    scroll-behavior: smooth; 
    width: 100%; 
  }

}
